<div class="container">
	<div class="my-5 row justify-content-md-center"
	*ngFor=" let blog of blogs">
		<div class="col">
			<div class="card box-shadow--2dp">
			  <div class="card-header h3 bg-primary font-weight-bold text-center text-white">{{blog.subject}}</div>
			  <div class="card-body">
			  	<p class="card-text">{{blog.content}}</p>
			  </div>
			  <div class="card-footer py-2">
			  	<span class="float-left text-success font-weight-bold">Author : {{blog.author.username || 'Anonymous'}}</span>
			  	<small>
			  	<span class="float-right">Modified : {{blog.last_modified}}</span></small>
		  	  </div>
			</div>
		</div>
	</div>
</div>