@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

nav>*{
	color:#FFFFFF;
}

nav a:visited, a:link {
  color: #FFFFFF;
}

nav a.active {
  color: #000;
  background: #FFFFFF;
  font-weight: bold;
}

.bg-teal{
	background-color: color("teal");
}